.navbar-nav{
    padding: 15px;
    background-color: rgb(5, 158, 204);
    color: white;
    text-align: center;
    -webkit-box-shadow:0px 2px 3px black;
    -moz-box-shadow:0px 2px 3px black;
    box-shadow:0px 2px 3px black;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding: 15px;
    padding-right:20px;
    padding-left: 20px;
    transition-duration: 0.5s;
    transition-property: color;
}

.nav-link:hover{
    color: rgb(24, 8, 245);
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: color;
}

.nav-link:active{
    color: black;
    text-decoration: none;
}

html{
    /*background-image: url('/assets/test.jpg');*/
    background-size: cover;
    color: white;
}

.name{
    text-align: center;
    font-size: 20pt;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 224, 224);
    padding: 30px;
    background-image: url("/assets/header.jpg");
    background-size: cover;
}

.active-link{
    color: rgb(1, 252, 231);
}

.footer{
    padding: 15px;
    background-color: rgb(5, 158, 204);
    color: white;
    display: flex;
    -webkit-box-shadow:0px -1px 2px black;
    -moz-box-shadow:0px -1px 2px black;
    box-shadow:0px -1px 2px black;
}

li{
    list-style-type: none;
    
}