.cool-beans > h1{
    display: flex;
}

[id]{
    display: block;
}

div:first-child{
    color:antiquewhite;
}

body{
    background-color: #CCCCCC;
}
ul {
    list-style-type: none;
    background-color: #CCCCCC;
}

ul li{
    background-color: #6d7e8f;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
}

a{
    color: rgb(113,0,136);
    text-decoration: none;
}

a:visited{
    color: rgb(255,0,0);
    text-decoration: none;
}

/* 

. means class
* all elements - everything 
nothing means tag selector
[] means attribute selector
# means id selector
: psuedo class selector

*/
