html{
    /*background-color: rgb(219, 184, 184);*/
    background-image: url("/assets/background.jpg");
    background-attachment:fixed;
    background-size:cover;
    /*background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    
}

body{
    margin: 0;
}

