.container div:nth-child(1){
    background-color: brown;
    order: 2;
}

.container div:nth-child(2){
    background-color: blue;
    order: 3;
}

.container div:nth-child(3){
    background-color: green;
    flex-grow: 3;
}

.container div:nth-child(4){
    background-color: black;
    flex-shrink: 2;
}

.container div:nth-child(5){
    background-color: red;
}

.container div:nth-child(6){
    background-color: purple;
}

.container div{
    width: 50px;
    padding: 50px;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
}

.container{
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}