/*
.grid{
    background-color: rgb(255, 255, 255);
    padding: 100px;
    height: 400px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    margin-top: 100px;
}
*/