<style>
    div{
        padding-top: 50px;
        text-align: center;
    }
    iframe{
        width: 50%;
        height: 800px;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>
<!--<div>
    <a href="/assets/Brett_Sillitoe_Resume.pdf" download>Download</a>
</div>-->
<iframe src="/assets/Brett_Sillitoe_Resume.pdf"></iframe>
