<style>
    .grid{
    background-color: rgb(5, 158, 204);
    width: 50%;
    margin-left: 25%;
    -webkit-box-shadow:0px -2px 3px black;
    -moz-box-shadow:0px -2px 3px black;
    box-shadow:0px -2px 3px black;
    padding: 20px;
    }
    h1{
        text-align: left;
        margin:0px;
        padding-top: 30px;
        padding-bottom: 0px;
        color: rgb(0, 245, 212);
        font-weight: bold;
        font-style: italic;
    }

    p{
        font-size: 14pt;
    }

</style>

<div class="grid">
    <h1>Before Graduation</h1>
    <br>
    <p>
        Currently, I have a 3.856 GPA overall. I would love to either keep it the same or increase it.
        I have gotten on the Dean's List every semester since Fall 2016 and I would like to remain on it
        until graduation. Additionally, I would like to have a job lined up for when I graduate. 
    </p>
    <br>
    <h1>After Graduation</h1>
    <br>
    <p>
        After I graduate with my degree, I would love to have a job waiting for me already. If that does
        not happen, I will apply to as many places as possible to get a job as a software
        engineer. Once I get my first job, I want to learn as much as I can as quickly as I can from the
        company that I am hired by. Getting practical on the job training will be very useful.
    </p>
</div>

