<style>
    .grid{
        background-color: rgb(5, 158, 204);
        width: 30%;
        margin-left: 35%;
        -webkit-box-shadow:0px -2px 3px black;
        -moz-box-shadow:0px -2px 3px black;
        box-shadow:0px -2px 3px black;
        text-align: center;
        height: 550px;
        padding-bottom: 30px;
    }
    h1{
        margin:0px;
        padding-top: 30px;
        padding-bottom: 0px;
        color: rgb(0, 245, 212);
        font-weight: bold;
        font-style: italic;
    }

    ul{
        margin-left: 0px;
    }

    p{
        font-size: 14pt;
        padding: 10px;
    }

</style>

<div class="grid">
    <h1>Technologies Used</h1>
    <p>HTML5 - creating website</p>
    <p>CSS - styling the website</p>
    <p>Node.js - created a script "clean" to install and run rimraf to delete the "node_modules" file</p>
    <p>Angular - routing, navigation bar animations, and binding classes data so it can be displayed</p>
    <p>Web Server - hosted on "http://localhost:4200</p>
    <p>TypeScript - used for populating the class table</p> 
    <p>Fetch - used to get class information from local JSON file</p>  
</div>
