<style>
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 50%;
        margin-left: 25%;
        margin-top: 100px;
    }
    
    .left{
        text-align: middle;
    }
    
    .right{
        float: right;
        text-align: center;
        color: black;
    }

    h1{
        color: rgb(0, 245, 212);
        font-weight: bold;
        font-style: italic;
        margin-top: 0;
        font-size: 26pt;
    }

    p{
        color: white;
        font-size: 14pt;
        text-align: left;
    }
</style>

<div class="grid">
    <div class="left">
        <img src="/assets/PictureOfMe.jpg" style="width:80%;height:80%;">
    </div>
    <div class="right">
        <h1>Welcome to my website!</h1>
        <p>
            My name is Brett Sillitoe and I am a computer science student currently attending Southern
            Utah University. I plan on graduating from SUU after the Spring 2020 semester with a Bachelor's
            of Science with a major in Computer Science and a minor in Mathematics.
        </p>
        <br>
    </div>
</div>
