<style>
    .grid{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        background-color: rgb(5, 158, 204);
        
        width: 50%;
        margin-left: 25%;
        padding: 30px;
        -webkit-box-shadow:0px -2px 3px black;
        -moz-box-shadow:0px -2px 3px black;
        box-shadow:0px -2px 3px black;
        text-align: left;
    }

    h1{
        color: rgb(0, 245, 212);
        margin-top: 0;
        font-size: 26pt;
        text-align: center;
    }

    p{
        color: white;
        font-size: 14pt;
        text-align: left;
    }
    .subject{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: span 2;
        color: rgb(0, 245, 212);
        font-weight: bold;
        font-style: italic;
    }

    .left{
        margin-top: 75px;
        text-align: center;
    }

    .right{
        margin-top: 75px;
        text-align: center;
    }
</style>
    
<div class="grid">

    <h1 class="subject">Programming Languages</h1>

    <div class="left">
        <img src="/assets/java_logo.jpg" style="text-align:center;width:75%;height:75%;">
    </div>
    <div class="right">
        <h1>Java</h1>
        <p>
            My first programming language that I was introduced to was Java. I have taken many classes
            that have focused solely on Java. It is the language that I am most comfortable with and
            still go back to when I have class assignments that are not language specific.
        </p>
    </div>

    <div class="left">
        <h1>C++</h1>
        <p>
            C++ is an object oriented language very similar to Java. I only recently was introduced to it
            via my C++ class. I have a lot more to learn about this language but I think I have the basics
            at least.
        </p>
    </div>
    <div class="right">
        <img src="/assets/C++_logo.jpg" style="width:50%;height:50%;align-self:right;">
    </div>

    <div class="left">
        <img src="/assets/html_css_logo.jpg" style="text-align:center;width:75%;height:75%;">
    </div>
    <div class="right">
        <h1>HTML/CSS</h1>
        <p>
            I took a few classes early on in my college career that went over the very basics of
            HTML and CSS but I did not learn or retain much information. After taking the Web
            Programming class that I am making this website for, I have learned a decent amount
            of HTML and CSS but I am far from an expert.
        </p>
    </div>

    <div class="left">
    <h1>Python</h1>
    <p>
        I have taken two classes that have heavily used Python. It's syntax is very simple
        which makes it enjoyable to code with. Again, I know the basics for this programming
        language.
    </p>
    </div>
    <div class="right">
    <img src="/assets/python_logo.png" style="width:60%;height:60%;align-self:right;">
    </div>
</div>