div{
    height: 100px;
    width: 100px;
    margin: 100px;
}

.box{
    background-color: red;
    transition-duration: 1s;
    transition-property: background-color, border-radius;
}

.box:hover{
    background-color: blue;
    transition-property: background-color, border-radius;
    border-radius: 50%;
}

.skew{
    background-color: green;
    transition-property: transform;
    transition-duration: 1s;
}

.skew:hover{
    -webkit-transform:skewX(20deg);
    -moz-transform: skewX(20deg);
    -o-transform:skewX(20deg);
    -ms-transform:skewX(20deg);
    transform: skewX(20deg);
}

.scale-up{
    background-color: dodgerblue;
    transition-property: transform;
    transition-duration: 1s;
}

.scale-up:hover{
    transform: scale(2,2);
}

.scale-down{
    background-color: darkviolet;
    transition-property: transform;
    transition-duration: 1s;
}

.scale-down:hover{
    transform: scale(.25,.25);
}

.change-color{
    background-color: red;
    transition-property: background-color;
    animation-name: morph-colors;
    animation-duration: 4s;
    /*animation-iteration-count: infinite;*/
}

@keyframes morph-colors{
    0%{
        background-color: red;
    }

    25%{
        background-color: yellow;
    }

    50%{
        background-color: blue;
    }

    100%{
        background-color: green;
    }
}

.change-color:hover{
    animation-name: morph-back;
    animation-direction: normal;
    transition-property: background-color;
    animation-duration: 4s;
}
@keyframes morph-back{
    0%{
        background-color: green;
    }

    25%{
        background-color: blue;
    }

    50%{
        background-color: yellow;
    }

    100%{
        background-color: red;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}