<div class=background>
    <div class="top">
        <h1>Southern Utah University</h1>
        <img src="/assets/SUU_Logo.png" style="width:15%; height:15%; float:inline-end">
    </div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Course</th>
                <th>Section</th>
                <th>Credits</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Times</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody class="content-table">
            <tr *ngFor="let class of classes">
                <td>{{class.subject}}</td>
                <td>{{class.course}}</td>
                <td>{{class.section}}</td>
                <td>{{class.credits}}</td>
                <td>{{class.title}}</td>
                <td>{{class.instructor}}</td>
                <td>{{class.semester}}</td>
                <td>{{class.grade}}</td>
            </tr>
        </tbody>
    </table>
</div>