.content-table{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
}

.content-table thead{
    background-color: black;
    text-align: left;
    font-weight: bold;
}

/*.content-table th{

}

.content-table td{

}*/
.top{
    background-color: rgb(155, 0, 0);
    text-align: center;
    
}

.background{
    background-color: white;
    width: 75%;
    margin-left: 12.5%;
    height: 700px;
    -webkit-box-shadow:0px -2px 3px black;
    -moz-box-shadow:0px -2px 3px black;
    box-shadow:0px -2px 3px black;
}
h1{
    margin: 0px;
}

tr td {
    color: black;
}